<div id="<%= dom_id blog %>" class="panel">
  <div class="card-header">
    <div>
      <p class="chip">Blog</p>
      <h3 class="card-title"><%= blog.title %></h3>
    </div>
    <span class="blog-id-pill">#<%= blog.id %></span>
  </div>

  <div class="meta-row">
    <span class="meta-label">Author</span>
    <% if blog.user %>
      <%= link_to blog.user.username, blog.user, class: "meta-pill meta-pill-author" %>
    <% else %>
      <span class="meta-pill meta-pill-muted">Unassigned</span>
    <% end %>
  </div>
</div>
