<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>User:</strong>
    <% if blog.user %>
      <%= link_to blog.user.username, blog.user %>
    <% else %>
      Unassigned
    <% end %>
  </p>

</div>
