<% content_for :title, "My Blogs" %>

<section class="stack-lg">
  <div class="section-heading section-heading-split">
    <div>
      <p class="chip">Publishing</p>
      <h2 class="section-title">Blogs</h2>
      <p class="section-copy">Manage only the blogs created under your own account.</p>
    </div>
    <%= link_to "New blog", new_blog_path, class: "button button-primary" %>
  </div>

  <div id="blogs" class="card-grid card-grid-two">
    <% if @blogs.any? %>
      <% @blogs.each do |blog| %>
        <div class="card-wrap">
          <%= render blog %>
          <%= link_to "Show this blog", blog, class: "card-link" %>
        </div>
      <% end %>
    <% else %>
      <div class="panel">
        <p class="empty-state">You have not created any blogs yet.</p>
      </div>
    <% end %>
  </div>
</section>
