<% content_for :title, "New blog" %>

<h1>New blog</h1>

<p>Creator: <%= current_user.username %></p>

<%= render "form", blog: @blog %>

<br>

<div>
  <%= link_to "Back to blogs", blogs_path %>
</div>
