<section class="stack-md">
  <%= render @blog %>

  <div class="panel action-row">
    <%= link_to "Back to blogs", blogs_path, class: "button button-secondary" %>
  <% if current_user == @blog.user %>
    <%= link_to "Edit this blog", edit_blog_path(@blog), class: "button button-secondary" %>
    <%= button_to "Destroy this blog", @blog, method: :delete, class: "button button-primary", form_class: "inline-form" %>
  <% end %>
  </div>
</section>
