<% content_for :title, "Users" %>

<section class="stack-lg">
  <div class="section-heading section-heading-split">
    <div>
      <p class="chip">Community</p>
      <h2 class="section-title">Users</h2>
      <p class="section-copy">See every registered user and how many blogs each one has published.</p>
    </div>
    <% unless logged_in? %>
      <%= link_to "Create account", new_user_path, class: "button button-primary" %>
    <% end %>
  </div>

  <div id="users" class="card-grid card-grid-two">
    <% @users.each do |user| %>
      <div class="card-wrap">
        <%= render user %>
        <%= link_to "Show this user", user, class: "card-link" %>
      </div>
    <% end %>
  </div>
</section>
