<section class="stack-lg">
  <%= render @user %>

  <div class="panel action-row">
    <%= link_to "Back to users", users_path, class: "button button-secondary" %>
  <% if current_user == @user %>
    <%= link_to "Edit this user", edit_user_path(@user), class: "button button-secondary" %>
    <%= button_to "Destroy this user", @user, method: :delete, class: "button button-primary", form_class: "inline-form" %>
  <% end %>
  </div>
</section>
