<div id="<%= dom_id chat %>">
  <div>
    <strong>Model:</strong>
    <%= chat.model&.label || default_model_display_name %>
  </div>

  <div>
    <strong>Messages:</strong>
    <%= chat.messages.count %>
  </div>

  <div>
    <strong>Created:</strong>
    <%= chat.created_at.strftime("%B %d, %Y at %I:%M %p") %>
  </div>
</div>
